security:
    # https://symfony.com/doc/current/security.html#registering-the-user-hashing-passwords
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"

    # https://symfony.com/doc/current/security.html#loading-the-user-the-user-provider
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
        # used to reload user from session & other features (e.g. switch_user)

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\UserAuthenticator
            entry_point: App\Security\UserAuthenticator
            logout:
                path: app_logout
                target: / # 游댳 Redireciona corretamente para a tela de login ap칩s logout

            remember_me:
                secret: "%kernel.secret%"
                lifetime: 604800 # 游댳 Cookie de "lembrar-me" dura 7 dias (604800 segundos)
                path: /
                always_remember_me: true # 游댳 Sempre lembrar do usu치rio (opcional)

    access_control:
        - { path: ^/dashboard, roles: ROLE_USER } # 游댳 Agora s칩 usu치rios logados podem acessar o Dashboard
        - { path: ^/logout, roles: ROLE_USER } # 游댳 Logout apenas se estiver autenticado
        - { path: ^/, roles: PUBLIC_ACCESS } # 游댳 Permite acesso p칰blico  p치gina inicial

when@test:
    security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: "auto"
