<form method="post" action="{{ path('app_tipo_endereco_delete', {'id': tipo_endereco.id}) }}" onsubmit="return confirm('Tem certeza que deseja excluir este item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_endereco.id) }}">
    <button class="btn btn-danger">Excluir</button>
</form>
