/* Geral */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

/* Títulos */
h2 {
    color: #2563EB;
}

/* Tema Escuro */
.dark-mode {
    background-color: #1a202c;
    color: #e2e8f0;
}

/* Logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-almasa {
    max-width: 200px;
    height: auto;
}

/* Navbar */
.nav-link.text-danger {
    color: #dc3545 !important;
    font-weight: 600;
}

.nav-link.text-danger:hover {
    color: #ff0000 !important;
}

/* Cartões do Dashboard */
.card {
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 123, 255, 0.1);
}

/* Ajustando o "Ver mais" */
.card-body a {
    color: #007bff !important;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.card-body a:hover {
    color: #0056b3 !important;
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .card {
        margin-bottom: 10px;
    }
}