<form method="post" action="{{ path('app_tipo_telefone_delete', {'id': tipo_telefone.id}) }}" style="display:inline-block" data-confirm-delete>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tipo_telefone.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Excluir</button>
</form>
