<form method="post" action="{{ path('app_pessoa_locador_delete', {'id': pessoa_locador.id}) }}" style="display:inline-block" data-confirm-delete>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pessoa_locador.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Excluir</button>
</form>
