<form method="post" action="{{ path('app_pessoa_delete', {'id': pessoa.idpessoa}) }}" onsubmit="return confirm('Você tem certeza que deseja excluir esta pessoa?');" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pessoa.idpessoa) }}">
    <button class="btn btn-sm btn-danger" title="Excluir">
        <i class="fas fa-trash"></i>
    </button>
</form>
