{% extends 'base.html.twig' %}

{% block title %}Endereços - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Lista de Endereços</h1>

        <!-- Implement address listing logic here -->
    </div>
{% endblock %}

