{# Footer padrao para PDFs #}
<div class="footer">
    <p>Emitido em: {{ data_emissao|date('d/m/Y') }} as {{ data_emissao|date('H:i') }}</p>
    <p>Documento gerado eletronicamente pelo Sistema Almasa</p>
</div>
